html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 16px;
  text-align: justify;
  color: #000;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: calc(100vw - 48px);
  z-index: 1000;
  /* background-color: #fff; */
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.links {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  /* width: 240px; */
  width: 320px;
  margin: 0 auto;
}

a {
  font-family: 'IBM Plex Mono';
  color: #0000ff;
  /* font-weight: bold; */
  text-decoration: none;
  padding: 0;
}

a:visited {
  color: #0000ff;
}

a:hover {
  color: #0000ff;
  text-decoration: underline;
}

a.active {
  color: #000;
  /* font-weight: normal; */
  pointer-events: none;
  cursor: default;  
}

.name-link {
  color: #000;
  font-weight: normal;
  text-decoration: none;
  /* position: absolute; */
}

.name-link:hover {
  color: #000;
  text-decoration: underline;
}

.name-link:visited {
  color: #000;
}

@media screen and (max-width: 425px) {
  header {
    width: calc(100vw - 32px);
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
  }

  .links {
    margin: 0;
    justify-content: space-between;
  }

  .name-link {
    position: unset;
  }

  .header-links {
    width: auto;
    gap: 16px;
  }

  .home-links {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .name-link {
    display: none;
  }

  .header-links {
    width: 100%;
  }
}

main {
  /* width: 240px; */
  width: 1024px;
  min-height: calc(100vh - 452px);
  margin: 0 auto;
  padding: 226px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  overflow-x: visible;
}

@media screen and (max-width: 425px) {
  main {
    width: calc(100vw - 32px);
    padding: 80px 16px;
  }
}

p {
  margin: 0;
  width: 100%;
  line-height: 150%;
}

.intro {
  width: 320px;
  text-align: justify;
}

.divider {
  border-bottom: dotted #000 2px;
}

.scroll-hint {
  color: #c4c4c4;
  font-family: 'IBM Plex Mono', sans-serif;
  text-align: center;
  font-weight: 400;
}

.text-justify-last {
  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
  text-align-last: justify;
}

span.wide {
  font-family: 'IBM Plex Mono', sans-serif;
  /* letter-spacing: 2px; */
}

h1, h2, h3 {
  font-family: 'IBM Plex Mono', sans-serif;
  letter-spacing: -1px;
  font-size: 64px;
  line-height: 130%;
  text-align: left;
  color: #000;
  font-weight: normal;
  margin: 0 0 12px;
  width: 100%;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

.case-studies {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: list-counter; /* Initialize a counter for manual list numbering */
}

.case-studies li {
  font-family: 'IBM Plex Mono';
  color: #0000ff;
  counter-increment: list-counter; /* Increments the counter */
  position: relative;
}

.case-studies li:before {
  content: counter(list-counter) ""; /* Display the counter value */
  position: absolute;
  left: -36px;
}

@media screen and (max-width: 425px) {
  .case-studies li, .dotted-divider {
    font-size: 24px;
  }
}

.dotted-divider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  /* margin-top: 64px; */
  margin-bottom: 32px;
  gap: 8px;
}

.image-caption {
  max-width: 100%;
}

img#photo {
  width: 320px;
}

@media screen and (max-width: 425px) {
  .image-caption {
    max-width: calc(100vw - 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
  
  img#photo {
    width: 100vw;
  }
}

.border {
  border: solid #000 1px;
}

hr {
  width: 0;
  border: none;
  border-left: dotted #000 2px; /* Overrides "border: none" for only 1 side */
  background: none;
  margin-top: -16px;
  margin-bottom: -16px;
}

hr.lg {
  height: 100px;
}

hr.sm {
  height: 64px;
}

@media screen and (max-width: 425px) {
  hr.lg {
    height: 64px;
  }

  hr.sm {
    height: 48px;
  }
}

.media-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  overflow-y: visible;
}

.media-caption {
  text-align: center;
}

@media screen and (max-width: 425px) {
  .media-caption {
    width: calc(100vw - 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
}

.media-overlapping > img {
  display: block;
  position: relative;
  filter: drop-shadow(-72px 0px 100px rgba(0,0,0, 0.06))
          drop-shadow(-2px 16px 12px rgba(0,0,0, 0.2));
}

.media-overlapping > video {
  display: block;
  position: relative;
  filter: drop-shadow(-72px 0px 100px rgba(0,0,0, 0.06))
          drop-shadow(-2px 16px 12px rgba(0,0,0, 0.2));
}


video#ehm-select {
  width: 500px;
  margin-bottom: -400px;
}

video#ehm-time {
  width: 500px;
  padding-left: 300px;
}

@media screen and (max-width: 425px) {
  video#ehm-select {
    width: 100vw;
    margin-bottom: -80vw;
  }
  video#ehm-time {
    width: 100vw;
    padding-left: 60vw;
  }
}

#carto-heatmap-container {
  position: relative;
}

#carto-heatmap {
  width: 1024px;
  height: 748px;
}

#carto-heatmap-controls-container {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  padding: 16px 24px;
  z-index: 100;
  background: #fff;
  border: solid #000 1px;
  font-family: 'IBM Plex Mono', sans-serif;
}

.inline-input {
  display: inline;
  display: flex;
  align-items: center;
  gap: 8px;
}

#map-style-toggles {
  display: flex;
  gap: 16px;
}

label.enabled {
  color: #0000ff;
  font-weight: bolder;
  cursor: pointer;
}

.slider-label.disabled {
  color: #808080;
}

#map-style-toggles > input {
  display: none;
}

video#activityfeed {
  width: 500px;
  padding-left: 300px;
  margin-bottom: -500px;
  z-index: 100;
}

video#analytics {
  width: 500px;
}

@media screen and (max-width: 425px) {
  video#activityfeed {
    width: 100vw;
    padding-left: 60vw;
    margin-bottom: -100vw;
  }

  video#analytics {
    width: 100vw;
  }
}

iframe.slides {
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 425px) {
  iframe.slides {
    width: 100vw;
    height: 65vw;
  }

  iframe.figma {
    width: 100vw;
    height: 150vw;
  }
}

.iphone-frame-straight {
  background-image: url('/img/iphone-frame.png');
  background-repeat: no-repeat;
  padding: 20px 22px;
  height: 812px;
  width: 375px;
  filter: drop-shadow(-119px 92px 80px rgba(0,0,0, 0.08))
          drop-shadow(-24px 42px 30px rgba(0,0,0, 0.14));
  margin-bottom: 24px;
}

@media screen and (max-width: 425px) {
  .iphone-frame-straight {
    background-size: cover;
    width: calc(89.5vw - 32px);
    padding: 4.77vw 5.25vw;
    height: auto;
  }
}

.masked-iphone-straight {
  mask-image: url('/img/iphone-frame-mask.svg');
  -webkit-mask-image: url('/img/iphone-frame-mask.svg');
  mask-size: 100%;
  -webkit-mask-size: 100%;
  width: 100%;
}

img#ia-profile {
  padding-left: 300px;
  z-index: 100;
  margin-bottom: -280px;
  width: 500px;
}

img#ia-map {
  margin-bottom: -200px;
  width: 500px;
}

img#ia-trends {
  padding-left: 283px;
  width: 398px;
}

@media screen and (max-width: 425px) {
  img#ia-profile {
    width: 100vw;
    padding-left: 60vw;
    margin-bottom: -56vw;
  }

  img#ia-map {
    width: 100vw;
    margin-bottom: -40vw;
  }

  img#ia-trends {
    width: 79.6vw;
    padding-left: 56.6vw;
  }
}