body {
  margin: 0;
  background-color: #fff;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 14px;
  text-align: justify;
  color: #000;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  margin-bottom: 48px;
  z-index: 1000;
  background-color: #fff;
  padding: 24px;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0 auto;
  font-weight: lighter;
}

a {
  font-family: 'IBM Plex Mono';
  color: #0000ff;
  /* font-weight: bold; */
  text-decoration: none;
  padding: 0;
}

a:visited {
  color: #0000ff;
}

a:hover {
  color: #0000ff;
  text-decoration: underline;
}

a.active {
  color: #000;
  /* font-weight: normal; */
  pointer-events: none;
  cursor: default;  
}

.name-link {
  color: #000;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
}

.name-link:hover {
  color: #000;
  text-decoration: underline;
}

.name-link:visited {
  color: #000;
}

main {
  position: absolute;
  min-height: 100vh;
  width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  overflow-x: visible;
}

p {
  margin: 0;
  width: 100%;
}

p.text-justify-last {
  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
  text-align-last: justify;
}

span.wide {
  font-family: 'IBM Plex Mono', sans-serif;
  /* letter-spacing: 2px; */
}

h1, h2, h3 {
  font-family: 'IBM Plex Mono', sans-serif;
  /* letter-spacing: 2px; */
  font-size: 14px;
  /* line-height: 14px; */
  text-align: justify;
  color: #000;
  font-weight: normal;
  margin: 0 0 12px;
  width: 100%;
}

.case-studies {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: list-counter; /* Initialize a counter for manual list numbering */
}

.case-studies li {
  font-family: 'IBM Plex Mono';
  color: #0000ff;
  counter-increment: list-counter; /* Increments the counter */
  position: relative;
}

.case-studies li:before {
  content: counter(list-counter) ""; /* Display the counter value */
  position: absolute;
  left: -32px;
}

.dotted-divider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  /* margin-top: 64px; */
  margin-bottom: 32px;
  gap: 8px;
}

.image-caption {
  max-width: 100%;
}

.border {
  border: solid #000 1px;
}

hr {
  border: none;
  background: none;
  color: none;
}

hr.lg {
  height: 100px;
}

hr.sm {
  height: 64px;
}

.media-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  overflow-y: visible;
}

.media-caption {
  width: 240px;
}

.media-overlapping > img {
  display: block;
  position: relative;
  filter: drop-shadow(-72px 0px 100px rgba(0,0,0, 0.06))
          drop-shadow(-2px 16px 12px rgba(0,0,0, 0.2));
}

img#ehm-select {
  margin-bottom: -400px;
}

img#ehm-time {
  padding-left: 300px;
}

#carto-heatmap-container {
  position: relative;
}

#carto-heatmap {
  width: 1024px;
  height: 748px;
}

#carto-heatmap-controls-container {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  padding: 16px 24px;
  z-index: 100;
  background: #fff;
  border: solid #000 1px;
}

.inline-input {
  display: inline;
  display: flex;
  align-items: center;
  gap: 8px;
}

#map-style-toggles {
  display: flex;
  gap: 16px;
}

#map-style-toggles > input {
  display: none;
}

img#activityfeed {
  padding-left: 300px;
  margin-bottom: -500px;
  z-index: 100;
}

iframe.slides {
  border-bottom: 1px solid #000;
}

.iphone-frame-straight {
  background-image: url('/img/iphone-frame.png');
  padding: 20px 22px;
  height: 812px;
  width: 375px;
  filter: drop-shadow(-119px 92px 80px rgba(0,0,0, 0.08))
          drop-shadow(-24px 42px 30px rgba(0,0,0, 0.14));
}

.masked-iphone-straight {
  mask-image: url('/img/iphone-frame-mask.svg');
  -webkit-mask-image: url('/img/iphone-frame-mask.svg');
}

img#ia-profile {
  padding-left: 300px;
  z-index: 100;
  margin-bottom: -280px;
}

img#ia-map {
  margin-bottom: -200px;
}

img#ia-trends {
  padding-left: 283px;
}