.case-studies {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: list-counter; /* Initialize a counter for manual list numbering */
}

.case-studies li {
  font-family: 'IBM Plex Mono';
  color: #0000ff;
  counter-increment: list-counter; /* Increments the counter */
  position: relative;
}

.case-studies li:before {
  content: counter(list-counter) ""; /* Display the counter value */
  position: absolute;
  left: -32px;
}